@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --allheading-color: #0073b1;
  --content-color: #000;
  --padding-right-left: 20px;
}

/* utility class */

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
  color: var(--allheading-color);
}

p {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  color: var(--content-color);
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-right-left);
}

.flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--allheading-color);
  font-size: 1.1rem;
  font-weight: 500;
}

/* manin-nav */
nav {
  padding: 20px var(--padding-right-left);
  border-bottom: 3px solid var(--allheading-color);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  height: 60px;
  top: 0;
}
.main-nav {
  justify-content: space-between;
}

.main-nav img {
  height: 25px;
}

.main-nav .links {
  gap: 30px;
  justify-content: flex-end;
}

.links .hover-link:hover {
  text-decoration: underline var(--allheading-color);
}

.main-section {
  background-image: url(./images/main.svg);
  background-size: cover;
  background-position: center;
  height: 420px;
  padding: 20px var(--padding-right-left);
  margin-top: 60px;
}

.text-section {
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.text-section h1 {
  font-weight: 300;
  font-size: 3vw;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.text-section p {
  font-weight: 200;
  margin-top: 20px;
}

.sub-section {
  padding: 20px var(--padding-right-left);
}

.sub-text {
  flex-direction: column;
}

.sub-text h2 {
  font-weight: 300;
  margin-top: 40px;
}

.sub-text p {
  font-weight: 200;
  margin-top: 20px;
}

.card-section {
  padding: 40px 0;
}

.card-body {
  position: relative;
  overflow: hidden; /* Ensure the overlay stays within the image bounds */
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px;
}

.img-overlay h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.img-overlay a:hover {
  text-decoration: underline var(--allheading-color);
}

.img-overlay p {
  font-size: 1rem;
  text-align: start;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.explore {
  padding: 15px 0;
}

.sub-explore {
  padding: 12px 0;
  text-align: center;
  border-bottom: 1px solid var(--allheading-color);
  border-top: 1px solid var(--allheading-color);
  justify-content: center;
}

.sub-explore p {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  color: lightslategray;
  cursor: pointer;
}

.sub-explore p:hover {
  color: var(--allheading-color);
}

.sub-explore p i {
  margin-left: 3px;
}

.feature-section {
  padding: 20px;
}

.section-container {
  background-color: #f3f2ef;
}

.left img {
  display: block;
}
.right {
  padding: 43px;
}

.right h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.right h2:hover {
  text-decoration: underline var(--allheading-color);
}

.right p {
  font-size: 1rem;
  text-align: start;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: lightslategray;
}

.companies-growth {
  padding: 30px var(--padding-right-left);
}

.companies-container {
  background-color: #eef3f8;
  padding: 30px;
}

.companies-container h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
}
.companies-sub {
  margin-top: 20px;
}
.companies-sub h2 {
  text-align: start;
  font-weight: 400;
}

.companies-sub h2:hover {
  text-decoration: none;
}

.case-study {
  gap: 30px;
  margin-left: 35px;
}

.case-study a {
  padding: 6px 14px;
  border: 1px solid var(--allheading-color);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.case-study a:hover {
  background-color: #d0e9f6;
}

.footer {
  background-color: #eaf6e4;
  padding: 50px var(--padding-right-left);
}
.footer-flex {
  gap: 200px;
}

.footer-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.footer-text h2 {
  color: #000;
  font-weight: 300;
}
.footer-text p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: lightslategray;
}

.footer-text a {
  padding: 8px 16px;
  background-color: #0073b1;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.sub-footer {
  border-top: 2px solid lightslategray;
  padding: 30px var(--padding-right-left) 0;
}

.footer-link {
  flex-direction: column;
  gap: 30px;
}
.footer-link a {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

.footer-link .hover-link {
  gap: 20px;
}

.footer-link .hover-link a {
  font-size: 0.8rem;
  color: lightslategray;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.footer-link .hover-link a:hover {
  text-decoration: underline lightslategray;
}

.icons {
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.icons a {
  color: lightslategray;
}
