@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
}

#page > img {
  position: absolute;
  width: 40%;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

#page > #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: absolute;
  height: 10%;
  width: 100%;
  z-index: 99;
}

#nav > img {
  height: 75px;
}

#center-div {
  display: flex;
  gap: 25px;
}

#center-div > a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

#nav > input {
  padding: 10px 5px;
  border: 1px solid #dadada;
  border-radius: 10px;
  text-transform: uppercase;
  outline: 0;
}

#text {
  height: 75%;
  width: 35%;
  /* background-color: red; */
  position: relative;
  top: 20%;
  left: 10%;
  padding: 30px 60px;
  scale: 1.1;
}

#text > h1 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  /* line-height: 1; */
}

#text > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  /* width: 80%; */
}

#text > h5 {
  color: #8873ef;
  position: absolute;
  transform: rotate(-35deg);
  left: 6%;
}

#buttons {
  height: 15%;
  width: 100%;
  position: absolute;
  left: 11%;
  top: 75%;
}

#buttons > button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

#buttons > #b1 {
  background-color: #8873ef;
  color: #fff;
  margin-right: 10px;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #fcda69;
  position: relative;
}

#page1 > #left {
  width: 35%;
  height: 90%;
  /* background-color: red; */
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

#left > .box {
  height: 33.4%;
  width: 100%;
  /* background-color: indigo; */
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box > h4 {
  font-size: 25px;
  font-weight: 600;
}

.box > h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: #8873ef;
  cursor: pointer;
}

.circle > i {
  font-size: 20px;
  color: #fff;
}

#text1 {
  width: 40%;
  height: 40%;
  /* background-color: red; */
  position: absolute;
  /* margin: 50px; */
  top: 10%;
  left: 15%;
  /* padding: 20px 0; */
  scale: 1.1;
}

#text1 > h1 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

#text1 > h3 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  width: 65%;
}

#text1 > h5 {
  color: #8873ef;
  position: absolute;
  transform: rotate(-35deg);
  left: -5%;
  top: -0.5%;
}

#right > img {
  position: absolute;
  bottom: 7%;
  left: 4%;
  width: 10%;
}

#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
}

#page2 > #project {
  width: 90%;
  height: 50%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects {
  border-top: 2px solid black;
  height: 100%;
  width: 31%;
}

#text3 {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.info > h1 {
  line-height: 1.2;
  text-transform: uppercase;
}

.info > h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

#image {
  height: 65%;
  width: 100%;
}

#image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p2 {
  position: relative;
  top: -32%;
}

.p3 {
  position: relative;
  top: -65%;
}

#text4 {
  height: 30%;
  width: 20%;
  /* background-color: red; */
  position: absolute;
  top: 8%;
  left: 5%;
}

#text4 > h5 {
  color: #8873ef;
  position: absolute;
  transform: rotate(-35deg);
  left: -12%;
  top: -3%;
}

#text4 > h1 {
  margin-top: 10px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
